<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Minesweeper</title>

    <!-- <link rel="stylesheet" href="Resources/build/build.css"/> -->

</head>
<body>
    <table
        ng-app="ControllerTeamsList"
        ng-controller="ControllerTeamsList"
    >

        <tr
            ng-repeat='row in table.paginate.rows'
        >
            <td
                ng-repeat="keyObj in table.keys"
            >
                <a
                    ng-if="keyObj.value !== 'links'"
                    class="pad-lr-2x pad-tb width-full"
                >
                    <div class="spacer-xs"></div>
                    <div ng-if="typeOf(row[keyObj.value]) !== 'object'">
                      <div>{{ row[keyObj.value] }}</div>
                      <div class="spacer-sm"></div>
                      <div>{{row[keyObj.value]}}</div>
                    </div>
                    <div
                        ng-if="typeOf(row[keyObj.value]) === 'object'"
                        ng-repeat="val in :: row[keyObj.value] track by $index"
                        class="pull-left"
                    >
                      <div ng-if="keyObj.value != 'links'">{{val.text}}</div>
                    </div>
                </a>

            </td>
        </tr>

    </table>

    <div>foo</div>
    <script type="text/javascript" src="./demo/build/build.js"></script>
</body>
</html>