<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Agnostic Table</title>

    <link rel="stylesheet" href="demo/build/build.css"/>

</head>
<body id="body">
    <div class="row">
        <div class="small-11 column">
            <h1>Agnostic Table</h1>
            <h4>A lean client-side view-framework-agnostic table abstraction for Javascript</h4>
            <ul>
                <li>
                    <h5>Pagination</h5>
                </li>
                <li>
                    <h5>Filtering</h5>
                    <ul>
                        <li>Filter by one or many fields</li>
                    </ul>
                </li>
                <li>
                    <h5>Ordering</h5>
                    <ul>
                        <li>Forward and reverse sorting</li>
                    </ul>
                </li>
                <li>
                    <h5>Minified script size is 4kb</h5>
                </li>
            </ul>
            <hr>
            <h1>Angular</h1>

            <div
                ng-app="ControllerTeamsList"
                ng-controller="ControllerTeamsList"
                ng-cloak
            >

                <div class="row">
                    <div class="column small-12">
                        <input
                            type="text"
                            placeholder="Search by Name, Location or Country"
                            ng-model="table.filter.filters.all.value"
                            ng-change="table.filter.onValChange()"
                            tabindex="1"
                            class="text-xxs text-gray-dark text-thin width-full spacer-xl pad bg-white"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="column small-4">
                        <input
                            type="text"
                            placeholder="Search by Name"
                            ng-model="table.filter.filters.name.value"
                            ng-change="table.filter.onValChange()"
                            tabindex="1"
                            class="text-xxs text-gray-dark text-thin width-full spacer-xl pad bg-white"
                        />
                    </div>
                    <div class="column small-4">
                        <input
                            type="text"
                            placeholder="Search by Location"
                            ng-model="table.filter.filters.location.value"
                            ng-change="table.filter.onValChange()"
                            tabindex="1"
                            class="text-xxs text-gray-dark text-thin width-full spacer-xl pad bg-white"
                        />
                    </div>
                    <div class="column small-4">
                        <input
                            type="text"
                            placeholder="Search by Country"
                            ng-model="table.filter.filters.country.value"
                            ng-change="table.filter.onValChange()"
                            tabindex="1"
                            class="text-xxs text-gray-dark text-thin width-full spacer-xl pad bg-white"
                        />
                    </div>
                </div>

                <table class="width-full">
                    <thead class="unselectable clickable">
                      <tr class="bg-gray-dark">
                        <th
                            ng-repeat="keyObj in table.keys"
                            ng-click="table.order.set(keyObj.value)"
                            class="text-white text-thin unselectable"
                            ng-class="{
                                'selected'    : table.order.latestInput === keyObj.value,
                                'reversed'    : table.order.latestInput === keyObj.value && table.order.reverse
                            }"
                        >
                          <div class="width-full"><span>{{keyObj.display}}</span><span class="table-arrow"></span></div>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                        <tr
                            ng-repeat='row in table.paginate.rows'
                        >
                            <td
                                ng-repeat="keyObj in table.keys"
                            >
                                <a
                                    ng-if="keyObj.value !== 'links'"
                                    class="pad-lr-2x pad-tb width-full"
                                >
                                    <div class="spacer-xs"></div>
                                    <div ng-if="typeOf(row[keyObj.value]) !== 'object'">
                                      <div>{{ row[keyObj.value] }}</div>
                                      <div class="spacer-sm"></div>
                                    </div>
                                    <div
                                        ng-if="typeOf(row[keyObj.value]) === 'object'"
                                        ng-repeat="val in :: row[keyObj.value] track by $index"
                                        class="pull-left"
                                    >
                                      <div ng-if="keyObj.value != 'links'">{{val.text}}</div>
                                    </div>
                                </a>

                            </td>
                        </tr>
                    </tbody>

                </table>

                <div class="row collapse unselectable">
                    <ul class="button-group round row collapse">

                        <li
                            ng-click="table.paginate.previous()"
                            class="column small-4"
                        >
                            <div
                                ng-class="{disabled : table.paginate.disableButtons()}"
                                class="text-xxs width-full pad text-center button"
                            >
                                <div class="text-valign">Previous</div>
                            </div>
                        </li><li class="column small-4">
                            <div class="text-black bg-gray-light button disabled width-full">
                                <div class="text-valign">Page {{ table.paginate.displayCurrent() }} of {{ table.paginate.numOfPages }}</div>
                            </div>
                        </li><li
                            ng-click="table.paginate.next()"
                            class="column small-4"
                        >
                            <div
                                ng-class="{disabled : table.paginate.disableButtons()}"
                                class="text-xxs width-full pad text-center button"
                            >
                                <div class="text-valign">Next</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <script type="text/javascript" src="./dist/agnosticTable.js"></script>

    <script type="text/javascript" src="./demo/build/build.js"></script>
</body>
</html>